<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>
<h1>Your Pragmatic Catalog</h1>
<ul class="catalog">
<% cache @products do %>
<% @products.each do |product| %>
<% cache product do %>
<li>
<%= image_tag(product.image_url) %>
<h2><%= product.title %></h2>
<p>
<%= sanitize(product.description) %>
</p>
<div class="price">
<%= number_to_currency(product.price) %>
<!-- We want to use POST, so we’ll add a button this time; this means we’ll be using the button_to() method.button_to creates an HTML
<form> -->
<%= button_to 'Add to Cart', line_items_path(product_id: product) %>
</div>
</li>
 <% end %>
<% end %>
<% end %>
</ul>
